@import '../bower_components/tajem/less/main.less';

@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Montserrat|Roboto:300,400,500');

//font-family: 'Merriweather', serif;
//font-family: 'Roboto', sans-serif;
//font-family: 'Montserrat', sans-serif;

//variables
	@navbar-breakpoint: 805px;
	@container-width: 1080px;
	@global-font-family: 'Roboto', sans-serif;
	@global-font-size: 14px;
	@global-primary-background: #6fb048;
	@global-color: #83a7a5;
	@global-color-dark: #0f5f5c;
	@button-background: #6fb048;
	@button-border: none;
	@button-color: #fff;

.container{
	width: 100%;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.inverse{
	color: #fff;
}

.dark{
	color: @global-color-dark;
}

.discription{
	font-size: 15px;
}

.h2{
	font-weight: 300;
	font-size: 32px;
	margin: 0 auto 20px;
	color: @global-color-dark;
}

.deco-line{
	position: relative;
	&:after{
		content: '';
		display: block;
		width: 65px;
		border: solid 1px #6fb048;
		position: absolute;
		top: 60px;
		left: 50%;
		transform: translate(-50%);
	}
}

//button
	.hook-button() {
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		border-radius: 2px;
		margin-top: 5px;
		padding: 18px 42px;
	};
	.hook-button-hover() {};
	.hook-button-focus() {};
	.hook-button-active() {};
	.hook-button-misc() {};

//background
	.hook-background() {
		&-dark{
			background-color: #296365;
		}
	};

//navbar
	.hook-navbar() {
		justify-content: space-between;
		align-items: center;
		padding-top: 25px;

		>.container{
			display: inherit;
			justify-content: inherit;
			align-items: inherit;
			padding-bottom: 25px;
			border-bottom: solid 2px #577778;
			@media all and (max-width: (@navbar-breakpoint - 1px)){
				flex-direction: column;}
		}
		&-header{
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media all and (max-width: (@navbar-breakpoint - 1px)){
			width: 100%;}
		}
	};
	.hook-navbar-brand() {
		width: 110px;
		@media all and (min-width: @navbar-breakpoint) {
		border-right: solid 1px #577778;}
		>img{
			width: auto;
		}
	};
	.hook-navbar-nav() {
		display: flex;
		align-items: center;
	};
	.hook-navbar-item() {
		margin-left: 30px;
		& .is-active{
			color: #fff;
		}
		.button{
			font-size: 12px;
			background: #697f7f;
			padding: 11px 12px;
		}
	};
	.hook-navbar-link() {
		font-family: 'Montserrat', sans-serif;
		font-size: 13px;
		color: inherit;
		text-decoration: none;
		text-transform: uppercase;

	};
	.hook-navbar-toggler() {
		display: block;
		width: 30px;
		
		.icon-bar{
			display: block;
			height: 4px;
			border-radius: 4px;
			background-color: currentcolor;
			+ .icon-bar{
				margin-top: 6px;
			}
		}
		
	};
	.hook-navbar-collapse() {
		padding-left: 25px;
		display: flex;
		flex: 1 1 auto;
		justify-content: space-between;
		align-items: center;
		.contact{
			display: flex;
			align-items: center;
		}
		.number{
			font-family: 'Montserrat', sans-serif;
			font-size: 13px;
			color: #fff;
			padding-left: 5px;
		}
	};

	.collapse{
		display: block;
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		padding: 0;
		>.navbar-nav{
			flex-direction: column;
		}
		.navbar-item{
			margin-top: 30px;
			margin-left: 0;
		}
	}

	.hook-navbar-misc() {};

//section
	.hook-section() {
		display: flex;
		flex-direction: column;
		padding-top: 97px;
	};
	.hook-section-header() {

	};
	.hook-section-body() {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		

	};
	.hook-section-footer() {};
	.hook-section-heading() {};
	.hook-section-description() {};
	.hook-section-overlay() {
		background: url(../img/bg-grad.png) no-repeat top left, url(../img/bg-header.png);
		&:after{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: inherit;
			opacity: 0.9;
			z-index: -10;
		}
	};
	.hook-section-fill-height() {};
	.hook-section-misc() {};

//header
	.header{
		min-height: 660px;
		padding-top: 0;
		
		.h1{
			font-size: 38px;
		}
		.discription{
			font-size: 16px;
			@media all and (min-width: @navbar-breakpoint){
				width: 48%;}
			}
	}

//features
	.features{
		padding-bottom: 130px;
		>.container{
			display: inherit;
			flex-direction: inherit;
			align-items: center;
			
		}
		.section-header{
			display: inherit;
			flex-direction: inherit;
			align-items: center;
			max-width: 450px;
			>p{
				text-align: center;
			}
		}
		
		&-box{
			display: flex;
			margin-top: 60px;
			@media all and (max-width: 750px){
					margin-bottom: 0;}
			margin-bottom: 120px;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		&-other{
			margin-top: 45px;
			margin-bottom: 0px;
			>.features-item{
				width: 50%;
				@media all and (max-width: 750px){
					width: 100%;
				}
				padding: 0 40px;
				text-align: left;
				padding-bottom: 30px;
				.features-item-heading{
					flex-direction: row;
					justify-content: left;
					height: 50px;
					padding-left: 8px;
				}
				.features-item-title{
					padding-left: 20px;
				}
			}
		}

		&-item{
			text-align: center;
			width: 30%;
			@media all and (max-width: 750px){
				width: 100%;
				padding: 0 20px 30px;
			}
		}


		&-item-title{
			color: @global-color-dark;
			font-size: 16px;
		}

		&-item-heading{
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100px;
			justify-content: space-between;
		}
		@media all and (max-width: 750px){
			.deco:after{
				display: none;
			}
		}
		.deco{
			position: relative;
			&:after{
				content: '';
				display: block;
				width: 90px;
				border: solid 1px #f2f2f2;
				position: absolute;
				top: 295px;
				left: 50%;
				transform: translate(-50%);
			}
			&:before{
				content: '';
				display: block;
				width: 90px;
				border: solid 1px #f2f2f2;
				position: absolute;
				transform: rotate(90deg); 
				top: 250px;
				left: 50%;
				margin-left: -45px;
				
			}
		}
		@media all and (max-width: 750px){
			.deco:after, .deco:before{
				display: none;
			}
		}
	}		
	