@import '../bower_components/tajem/less/main.less';

@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Montserrat|Roboto:300,400,500');

//variables
	@navbar-breakpoint: 805px;
	@container-width: 1080px;
	@global-font-family: 'Roboto', sans-serif;
	@global-font-size: 14px;
	@primary-color: #6fb048;
	@global-primary-background: #6fb048;
	@global-color: #83a7a5;
	@global-color-dark: #0f5f5c;
	@button-background: @primary-color;
	@button-border: none;
	@button-color: #fff;

.container{
	width: 100%;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.inverse{
	color: #fff;
}

.dark{
	color: @global-color-dark;
}

.discription{
	font-size: 15px;
}

.h2{
	font-weight: 300;
	font-size: 32px;
	margin: 0 auto 20px;
	color: @global-color-dark;
	text-align: center;
}

.deco-line{
	position: relative;
	@media all and (min-width: 600px){
		&:after{
		content: '';
		display: block;
		width: 65px;
		border: solid 1px @primary-color;
		position: absolute;
		top: 60px;
		left: 50%;
		transform: translate(-50%);
		}
	}
}

.ok{
	min-width: 26px;
}

.left, .right{
	width: 50%;
	@media all and (max-width: 750px){
		width: 100%;
		text-align: center;
	}
}



//button
	.hook-button() {
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		border-radius: 2px;
		margin-top: 5px;
		padding: 18px 42px;
		&:hover{
			background: #83a7a5;
		
	};
	.hook-button-hover() {};
	.hook-button-focus() {};
	.hook-button-active() {};
	.hook-button-misc() {};

	}
	.btn-bg-inv{
		background: #83a7a5;
			&:hover{
				background: @primary-color;
			}
	}

//background
	.hook-background() {
		&-dark{
			background-color: #296365;
		}
		&-light{
			background-color: #eef1ec;
		}
	};

//navbar
	.hook-navbar() {
		justify-content: space-between;
		align-items: center;
		padding-top: 25px;

		>.container{
			display: inherit;
			justify-content: inherit;
			align-items: inherit;
			padding-bottom: 25px;
			border-bottom: solid 2px #577778;
			@media all and (max-width: (@navbar-breakpoint - 1px)){
				flex-direction: column;}
		}
		&-header{
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media all and (max-width: (@navbar-breakpoint - 1px)){
			width: 100%;}
		}
	};
	.hook-navbar-brand() {
		width: 110px;
		@media all and (min-width: @navbar-breakpoint) {
		border-right: solid 1px #577778;}
		>img{
			width: auto;
		}
	};
	.hook-navbar-nav() {
		display: flex;
		align-items: center;
	};
	.hook-navbar-item() {
		margin-left: 30px;
		& .is-active{
			color: #fff;
		}
		.button{
			font-size: 12px;
			background: #697f7f;
			padding: 11px 12px;
		}
	};
	.hook-navbar-link() {
		font-family: 'Montserrat', sans-serif;
		font-size: 13px;
		color: inherit;
		text-decoration: none;
		text-transform: uppercase;

	};
	.hook-navbar-toggler() {
		display: block;
		width: 30px;
		
		.icon-bar{
			display: block;
			height: 4px;
			border-radius: 4px;
			background-color: currentcolor;
			+ .icon-bar{
				margin-top: 6px;
			}
		}
		
	};
	.hook-navbar-collapse() {
		padding-left: 25px;
		display: flex;
		flex: 1 1 auto;
		justify-content: space-between;
		align-items: center;
		.contact{
			display: flex;
			align-items: center;
		}
		.number{
			font-family: 'Montserrat', sans-serif;
			font-size: 13px;
			color: #fff;
			padding-left: 5px;
		}
	};

	.collapse{
		display: block;
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		padding: 0;
		>.navbar-nav{
			flex-direction: column;
		}
		.navbar-item{
			margin-top: 30px;
			margin-left: 0;
		}
	}

	.hook-navbar-misc() {};

//section
	.hook-section() {
		display: flex;
		flex-direction: column;
		padding-top: 97px;
	};
	.hook-section-header() {
		display: inherit;
		flex-direction: inherit;
		min-width: 80%;
		>p{
			text-align: center;}
	};
	.hook-section-body() {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		

	};
	.hook-section-footer() {};
	.hook-section-heading() {};
	.hook-section-description() {};
	.hook-section-overlay() {
		background: url(../img/bg-grad.png) no-repeat top left, url(../img/bg-header.png);
		&:after{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: inherit;
			opacity: 0.9;
			z-index: -10;
		}
	};
	.hook-section-fill-height() {};
	.hook-section-misc() {};

//header
	.header{
		min-height: 660px;
		padding-top: 0;
		
		.h1{
			font-size: 38px;
		}
		.discription{
			font-size: 16px;
			@media all and (min-width: @navbar-breakpoint){
				width: 48%;}
			}
	}

//card
	.hook-card() {
		@media all and (max-width: 790px){
			width: 80%;
			margin: auto;
			padding: 30px 25px;
		}
		width: 33.33%;
		flex-direction: column;
		padding: 30px 55px;
		border: solid 1px #c1d3d2;
		&-box{
			@media all and (max-width: 790px){
			flex-wrap: wrap;}
			margin-top: 25px;
			max-width: 770px;
			display: flex;

		}
		.price{
			font-family: 'Montserrat', sans-serif;
			font-size: 65px;
			font-weight: 600;
			line-height: 1;
		}
		.button{
			font-size: 13px;
			padding: 12px 20px;
		}
	};
	.hook-card-header() {};
	.hook-card-body() {};
	.hook-card-footer() {};
	.hook-card-heading() {
		margin-bottom: 20px;
		font-weight: 500;
		font-size: 15px;
		text-transform: uppercase;
	};
	.hook-card-description() {
		@media all and (max-width: 790px){
			height: 70px;
		}
		margin-top: 27px;
		margin-bottom: 27px;
		height: 100px;
		overflow: hidden;
		line-height: 1.8;
	};
	.hook-card-image() {};
	.hook-card-misc() {};

//features
	.features{
		padding-bottom: 130px;
		@media all and (max-width: 750px){
			padding-bottom: 50px;}
		>.container{
			display: inherit;
			flex-direction: inherit;
			align-items: center;
			
		}
		.section-header{
			max-width: 450px;
		}		
		&-box{
			display: flex;
			margin-top: 60px;
			@media all and (max-width: 750px){
			margin-bottom: 0;}
			margin-bottom: 120px;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		&-other{
			margin-top: 45px;
			margin-bottom: 0px;
			>.features-item{
				width: 50%;
				@media all and (max-width: 750px){
					width: 100%;
					padding: 0 10px;
				}
				padding: 0 40px;
				text-align: left;
				padding-bottom: 30px;
				.features-item-heading{
					flex-direction: row;
					justify-content: left;
					height: 50px;
					padding-left: 8px;
				}
				.features-item-title{
					padding-left: 20px;
				}
			}
		}

		&-item{
			text-align: center;
			width: 30%;
			@media all and (max-width: 750px){
				width: 100%;
				padding: 0 10px 30px;
			}
		}


		&-item-title{
			color: @global-color-dark;
			font-size: 16px;
		}

		&-item-heading{
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100px;
			justify-content: space-between;
		}
		@media all and (max-width: 750px){
			.deco:after{
				display: none;
			}
		}
		.deco{
			position: relative;
			&:after{
				content: '';
				display: block;
				width: 90px;
				border: solid 1px #f2f2f2;
				position: absolute;
				top: 295px;
				left: 50%;
				transform: translate(-50%);
			}
			&:before{
				content: '';
				display: block;
				width: 90px;
				border: solid 1px #f2f2f2;
				position: absolute;
				transform: rotate(90deg); 
				top: 250px;
				left: 50%;
				margin-left: -45px;
				
			}
		}
		@media all and (max-width: 750px){
			.deco:after, .deco:before{
				display: none;
			}
		}
	}		
	
//template
	
	.template{
		padding-bottom: 0;
		padding-top: 75px;
		>.container{
			display: inherit;
			flex-direction: inherit;
			align-items: center;
		}

		
		.section-body{
			flex-direction: row;
			align-items: center;
			
			.left{
				@media all and (max-width: 750px){
				display: none;}
				>img{
					display: block;
					width: 80%;
				}
			}
			.right{
				padding: 20px 0;
				>.h2{
					margin-bottom: 0;
					text-align: left;
				}
				>p{
						line-height: 1.8;
						text-align: left;
					}
				li{
					display: flex;
					align-items: center;
					margin-bottom: 15px;
					>span{
						padding-left: 15px;

					}
				}
			}
		}	
	}

//testimonals
	.testimonals{
		>.container{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			padding-top: 50px;
			padding-bottom: 50px;
		}
		.left{
			padding-right: 30px;
			p{
				font-family: 'Merriweather', serif;
				font-size: 22px;
				line-height: 2;
			}
			span{
				display: block;
				font-weight: 500;
			}
		}

		.right{
			padding: 80px;
			@media all and (max-width: 1000px){
				padding: 40px;
			}
			@media all and (max-width: 750px){
				order: -1;
			}
		}
	}	

//attention
	.attention{
		>.container{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding-top: 60px;
			padding-bottom: 60px;
		}	
		img{
			width: 100%;
		}
		.left{
			@media all and (max-width: 750px){
				padding-right: 0;
			}
			padding-right: 40px;
			.h2{
				@media all and (min-width: 750px){
				text-align: left;}
			}
			p{
				line-height: 1.8;
			}
		}
	}

//pricing
	.pricing{
		padding-bottom: 100px;
		>.container{
			display: inherit;
			flex-direction: column;
			align-items: center;
			text-align: center;
			>div{
				display: inherit;
				flex-direction: inherit;
				align-items: inherit;
			}
		}
		.discription{
			max-width: 550px;
		}
		.plans{
			margin-top: 75px;
			margin-bottom: 60px;
			
			.h2{
				font-size: 22px;
			}
			ul{
				margin-top: 35px;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				@media all and (max-width: 600px){
					width: 80%;
					margin-left: auto;
					margin-right: auto;
				}
				>li{
					@media all and (max-width:900px){
						width: 50%;
					}
					@media all and (max-width: 600px){
						width: 100%;
					}
					width: 33.33%;
					display: flex;
					align-items: center;
					padding-bottom: 14px;
					>span{
						padding-left: 8px;
						text-align: left;
					}
				}
			}
		}
		.kolo{
			margin-bottom: 12px;
		}
		.mail-support{
			font-size: 18px;
			margin-top: 20px;
		}
	}

//download
	.download{
		position: relative;
		min-height: 200px;
		&:before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #eef1ec;
			opacity: 0.9;
			z-index: -10;
		}
		.section-overlay{
			background: url(../img/bg-call.png) no-repeat;
			background-size: cover;
		}	
				
		>.container{
			display: flex;
			flex-wrap: wrap;
			align-items: center;

		}
		.left{
			width: 60%;
			@media all and (max-width: 900px){
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				margin-top: 50px;
			}
		}
		.right{
			width: 40%;
			@media all and (max-width: 900px){
				width: 100%;
				text-align: center;
				margin-top: 30px;
				margin-bottom: 50px;
			}
		}
		.h2{
			font-size: 28px;
			text-align: left;
			margin-bottom: 0px;
		}
		.discription{
			margin-top: 5px;
		}
		
	}

//footer
	.footer{
		font-size: 13px;
		.section-body{
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: left;
			padding-top: 100px;
			padding-bottom: 60px;
			@media all and (max-width: 800px){
				padding-top: 50px;
				padding-bottom: 0px;
			}	
			border-bottom: solid 1px #eef1ec;
		}
		.footer-column{
			width: 25%;
			margin-bottom: 40px;
				@media all and (max-width: 800px){
					width: 50%;
				}
				@media all and (max-width: 420px){
					text-align: center;
				}
				
			&-header{
				font-weight: 500;
				margin-bottom: 22px;
			}
			.logo{
				margin-bottom: 18px;
			}
			a{
				text-decoration: none;
				color: inherit;
				&:hover{
					color: @global-primary-background;
					text-decoration: underline;
				}
			}
			span{
				display: inline-block;
				vertical-align: top;
			}
		}

		.f-news{
			@media all and (max-width: 800px){
				order: -1;
			}
			@media all and (max-width: 420px){
				width: 100%;
				order: 4;
			}
		}
		.f-contact{
			@media all and (max-width: 800px){
				order: -2;
			}
			@media all and (max-width: 420px){
				width: 100%;
			}
		}
		
		.copyrights{
			padding-top: 15px;
			padding-bottom: 15px;
			font-size: 12px;
		}
		.form{
			position: relative;
		}
		.form-control{
			font-size: 13px;
			padding-right: 40px;
			border: none;
			border-radius: 2px;
			background-color: #eef1ec;
			color: @global-color;
		}
		.plane{
			position: absolute;
			right: 10px;
			top: 10px;
		}
	}

	

.primary{
	color: @primary-color;
}